
/* home */

.slideshow-container {
    position: relative;
    max-width: 100%;
    height: 100vh;
    overflow: hidden;
}


  .slideshow-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 3s ease-in-out;
  }


  .slideshow-image.visible {
    opacity: 1;
  }

.home-container{
    border-radius: 9px;
}


  .home-button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.text-container{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* text-shadow: 2px 2px black; */
}

.inspiration{
    margin-top: 142px;
    font-size: 56px;
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    font-weight: normal;
}

.text-container h2 {
    font-size: 29px;
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    font-weight: normal;
}

.text-container button{
    font-size: 24px;
    height: 64px;
    border-radius: 6px;
    width: 205px;
    font-weight: 550;
    align-items: center;
    border: none;
}

/* userPostPage */

.allposts-photos{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 1002px;
  margin: 0 auto;
  margin-top: 7px;
}

.userpost-images {
  width: 323px;
  height: 241px;
  border-radius: 13px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease-in-out;
  margin: 4px;
}

.userpost-images:hover {
  transform: scale(1.05);
}

.allposts-account-details p{
  color:blue;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Footer */

.footer-container{
  background-color: black;
  color: white;
  border-radius: 5px;
  font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
  display: flex;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-shadow: 1px 1px grey;
}

.group2{
  margin-left: 10px;
}

/* Post Details */

.image-container{
  background-color: #212124;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
  border-radius: 2px;
}

.detail-photo{
  width: 543px;
  height: 356px;
  margin-top: 41px;
  border-radius: 8px;
}

.Post-Details-Buttons{
  margin: 19px;
  display: flex;
  justify-content: space-between;
}

.image-container button {
  padding: 7px;
  margin: 7px;
  border-radius: 2px;
  font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
}

#image-username{
  font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
  font-size: 20px;
}

.image-title,
.image-description{
  font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
  font-size: 13px;
}
