.banner-parent-container > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 20px;
    padding-bottom: 56px;
    background-image: url(https://shutterscape.s3.us-west-1.amazonaws.com/shutterscape/rainy-default-bg.jpg);
}

.banner-nav-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 8px 0px 0px 20px;
    font-size: 10px;
    color: black;
    background-color: white;
}

.banner-nav-container div {
    padding-right: 32px;
}
.banner-user-details {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}

.profile-photo {
    display: flex;
    border: 1px solid white;
    padding: 20px;
    border-radius: 50%;
    background-color: rgb(226, 43, 177);
    margin-right: 20px;
}

#banner-fname-lname {
    font-size: 25px;
    margin-bottom: 1px;
}

#banner-username {
    margin-top: 0px;
}

.banner-totalcount {
    font-size: 20px;
    margin-right: 20px;
}

/* can we get the camera to grow? */
.fa-camera {
    width: 100%;
}
