.hidden {
  display: none;
}

.nav-container {
  padding: 20px;
  background-color: black;
  font-family: Proxima Nova, helvetica neue, helvetica, arial, sans-serif;
}

input {
  margin-left: 10px;
  margin-right: 10px;
}

#nav-you {
  color: white;
}

/* Header */

#logo {
  width: 195px;
}

.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
}


/* Profile Button */

.profile-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid black;
  border-radius: 20px;
  height: 35px;
  width: 70px;
  cursor: pointer;
}

.profile-dropdown {
  border: 1px solid black;
  border-radius: 15px;
  min-height: 90px;
  position: absolute;
  top: 35px;
  right: 70px;
  z-index: 3;
  background-color: ghostwhite;
  padding-inline-start: 5px;
}

.profile-menu-container {
  padding: 0px;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}



.profile-container button {

  background-color: ghostwhite;
  border: none;
  margin-bottom: 12px;
  margin-top: 5px;
  cursor: pointer;
  font-family: Proxima Nova, helvetica neue, helvetica, arial, sans-serif;
}

.profile-container button:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #ccc;
  cursor: pointer;
  border-radius: 4px;
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 2px solid lightgray;
}

.nav-links  {
  display: flex;
  flex-direction: row;

}

.nav-links > div, .youbutton-button {
  cursor: pointer;
}

/* YouButton */
.youbutton-dropdown {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  width: 90px;
  height: 120px;
  position: absolute;
  left: 216px;
  z-index: 3;
  background-color: ghostwhite;

}

.youbutton-button {
  position: relative;
  padding: 0px 0px;
  margin-right: 57px;
  margin-left: 41px;
}

.youbutton-container {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

.youbutton-container div {
  padding-bottom: 8px;
  padding-top:10px;
  margin-left: 20px;
  transition: background-color 0.3s;
}

.youbutton-container div:nth-child(3) {
  padding-bottom: 8px;
  padding-top:10px;
  margin-left: 14px;
}

.youbutton-container div:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #ccc;
  cursor: pointer;
  border-radius: 4px;
}

/* Tag Filter Icons */
#tag-icons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 28px;
  background-color: black;
  font-family: Proxima Nova, helvetica neue, helvetica, arial, sans-serif;
}

.tag-icons {
  display: flex;
  flex-direction: column;
  align-items: center;;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: black;
  transition: all 0.15s ease-in-out;
}

.tag-icons:hover {
  transform: scale(1.1);
  text-shadow: 0px 0px 2px #ddd;
}

.nav-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: white;
}
